# Logs
logs
*.log
*.jpg

test*
_temp

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/*

# Environment config
config*.json

# Environment config
private*
mongo.js
redis1.js
